.activity {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.activity-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.activity-block-header {
    font-size: 24px;
    font-weight: 400;
}

.acitivity-block-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acitivity-block-list-item {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 10px;

    background-color: #b4b4b42c;
    border-radius: 10px;
}

.acitivity-block-list-item h4 {
    font-size: 22px;
    font-weight: 300;
}

.activity-title-highlight {
    color: #eedcb1;
}

.acitivity-block-list-item p {
    font-size: 18px;
    font-weight: 300;
    color: #acacac;
}

.activity-block-list-item-actions {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.activity-block-list-item-actions li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 5px;
}

.activity-block-list-item-actions li::before {
    content: "▸";
}
