@font-face {
    font-family: "MistBrush";
    src: url("/fonts/MisterBrush.ttf") format("truetype");
}

@font-face {
    font-family: "Shen";
    src: url("/fonts/Shentox-Regular\ \(RUS\ by\ Slavchansky\)_0.ttf")
        format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Shen, "Roboto", Manrope, sans-serif;
    background: #2e3034;
    color: #f5f6f6;
}

body {
    overflow: none;
}

.content {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    overflow: auto;
    background-image: url("/images/background.jpeg");
}

.content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0 21 41);
    border-radius: 5px;
}

.content-block {
    padding: 3dvh 5dvw;
    border-radius: 10px;
    background: #2e3034;
}

.content-block-header {
    font-size: 34px;
    font-weight: 500;
    color: #eedcb1;
}

@media (max-width: 768px) {
    .content {
        height: max-content;
        padding: 5px;
    }
}
