.header {
    display: grid;
    grid-template-columns: 300px auto;
}

.ava {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: -30px 40%;
    background: #dadcd9;
    pointer-events: none;
    border: thick double #eedcb1;
    background-clip: content-box;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

.full-name {
    font-size: 4.4dvw;
    text-align: center;
    font-weight: 400;
}

.place-age {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 29px;
}

.place-age-line {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.place-age-title {
    color: #969696;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 15px;
}

.contact-line {
    font-size: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.contact-line a {
    color: #f5f6f6;
    text-decoration: none;
    line-height: 30px;
}

@media (max-width: 890px) {
    .place-age {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .ava {
        margin: auto;
    }

    .personal-info {
        gap: 10px;
    }

    .full-name {
        font-size: 35px;
    }

    .place-age {
        font-size: 20px;
        gap: 5px;
    }

    .contacts {
        gap: 5px;
    }

    .contact-line {
        font-size: 20px;
    }

    .contact-line img {
        height: 24px;
    }

    .contact-line a {
        line-height: 24px;
    }
}
