.portfolio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #eedcb1;
    position: relative;
    transition: 0.3s;
}

.portfolio-item img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.portfolio-item p {
    position: absolute;
    bottom: 0px;
    background: #45474aad;
    width: 100%;
    border-radius: 0px 0px 9px 9px;
    font-size: 16px;
    font-family: MistBrush;
    color: #f5f6f6;
    text-align: center;

    transition: 0.3s;
    padding: 10px 0px;
}

.portfolio-item:hover {
    scale: 1.1;
}

.portfolio-item:hover p {
    padding: 30px 0px;
    background: #eedcb1;
    color: #2e3034;
}
