.stack {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stack-block {
    display: grid;
    grid-template-columns: 130px auto;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #eedcb1;
}

.stack-block:last-child {
    border-bottom: none;
}

.stack-block h4 {
    font-size: 20px;
    font-weight: 400;
}

.stack-block-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;

    align-items: center;
}

.stack-block-list p {
    background: #45474a;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.2s;
}

.stack-block-list p:hover {
    scale: 1.05;
    cursor: pointer;
}
